h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 26px;
  text-align: center;
}

body {
  font-family: "Fredoka", sans-serif;
}

.card-body {
  background-color: rgb(247, 223, 233);
  padding-top: 50px;
}

#section-1 {
  border: solid;
  padding-bottom: 100px;
}

#section-2 {
  background-color: #fff;
  padding: 10px;
  padding-top: 40px;
}

.row {
  padding: 10px;
  border: 3px solid rgb(247, 223, 233);
}
